<% provide :sub_title, 'Update Profile' %>
<div class="offset2" style="margin-top:120px;">
	<h2>Update your profile</h2>
	<%= render 'form' %>
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails">change</a>
</div>
